#myOverlay{
	background: black;
    opacity: 0.7;
    width:100%;
    height:100vh;
    z-index:100000;
    top:0px;
    left:0px;
    position:fixed; 

}
#myModal{
z-index:100000;
position: fixed;
width: 70%;
top: 0;
left: 15%;
font-family: verdana;
background: white;
z-index: 100001;
height: 70vh;
margin-top:100px;



}
#myHeade{
	display:flex;
	padding: 15px 25px;
	padding-bottom: 5px;

}
#myDescription{
	width: 70%;

}
#myDescription img{
	float: left;
	width: 40px;
	margin-right: 10px;

}

#myDescription div:nth-of-type(1) {
	margin-bottom: 5px;
	padding-top: 5px;
	font-size: 1.2em;

}
#myDescription div:nth-of-type(2) {
	
	font-size: 1.5em;
	font-weight: bold;
}
#myEventplace{

}
#ecran-wrapper{
	width: 40%;
	margin: auto;
	text-align: center;
	font-size: .8em;
	color: grey;

}
#ecran{
	width: 100%;
	height: 5px;
	background: grey;
	margin-top: 10px;
	margin-bottom: 5px;

}
#arena{
	width: 60%;
	margin-top: 40px !important;
	margin: auto ;
}
.row-line{
	display: flex;
	align-items: center;
	margin-bottom: 5px;

}
.row-num{
width: 5%;
text-align:center;
color:grey;	

}
.rows{
	display: flex;
	width: 90%;
	justify-content: space-between;
	/*color: white;*/
}
.place{
	background: #5bc2e2;
    border-radius: 50%;
    padding: 4px 6px;
    width: 20px !important;
    text-align: center;
}
.row1{
	justify-content: center;
}
.row2{
	justify-content: space-around;
}
.row3{
	justify-content: space-between;
}
.row4 .place:nth-child(1){order: 14}
.row4 .place:nth-child(2){order: 7}
.row4 .place:nth-child(5){order: 9}
.row4 .place:nth-child(7){order: 1}
.row4 .place:nth-child(8){order: 4}

.place:hover{
	width: 30px !important;
	border-radius: 50%;
	color: white;
	padding: 5px 6px;
	transform: scale(1.4);
}
.row-line:nth-child(2n+4) .place {
	background:lightgreen;
}
.row8{
	flex-direction:column;	 
}

